<div class="col-md-6">
  <%= simple_form_for(event, data: { behavior: "process-event" }) do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :start_date %>  
    <%= f.input :end_date %>
    <%= f.input :location %>
    <%= f.input :address %>
    <%= f.input :tag_names, label: "Tags" %>
    
    <%= f.button :submit, class: "btn-primary" %>
  <% end %>
</div>