<% title(@event.title, "Events") %>

<header>
  <h1><%= @event.title %></h1>
  <p>Organized by: 
    <%= image_tag avatar_url(@event.organizer.email), width: 30, class: "img-circle" %> 
    <%= @event.organizer %>
  </p>
  <% if user_signed_in? && @event.organizer.id == current_user.id %>
    <ul class="actions">
      <li><%= link_to "Edit Event", edit_event_path(@event),
        class: "edit" %></li>
      <li><%= link_to "Delete Event",
        event_path(@event),
        method: :delete,
        data: { confirm: "Are you sure you want to delete this event?" },
        class: "delete" %></li>
    </ul>
  <% end %>
</header>

<div class="event-details">
  <div class="row">
    <div class="col-md-3">
      <h6>Date: <%= @event.start_date.strftime("%B %e at %l:%M %p") %></h6>
    </div>
    <div class="col-md-9">
      <h6>Location: <%= @event.location %>, <%= @event.address %></h6>
    </div>
  </div>
</div>

<p><%= @event.description %></p>

<% if @event.tags.any? %>
  <div id="tags">
    <%= render @event.tags, event: @event %>
  </div>
<% end %>

<div class="row">
  <div class="col-md-6">
    <% if user_signed_in? %>
      <%= check_user_request(@event.attendances) %>
    <% end %>
  </div>
  <div class="col-md-6">
    <div class="panel-requests">
      <div class="panel-body">
        <% if user_signed_in? && @event.organizer.id == current_user.id %>
          <h5>Pending Requests</h5>
          <ul class="event-requests">
            <% if @event.attendances.pending.any? %>
              <%= render @event.attendances.pending, event: @event %>
            <% else %>
              <li>No pending requests for this event</li>
            <% end %>
          </ul>
        <% end %>
        <h5>Attendees</h5>
        <ul class="event-requests">
          <% if @event.attendances.accepted.each do |a|%>
            <li>
              <%= image_tag avatar_url(a.user.email), width: 30, class: "img-circle" %>
              <%= a.user.email %>
            </li>
          <% end.empty? %>
            <li>No attendees for this event</li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>