<% title(@event.title, "Events") %>

<header>
  <h1><%= @event.title %></h1>
  <p>Organized by: <%= @event.organizer %></p>
  <% if user_signed_in? && @event.organizer.id == current_user.id %>
    <ul class="actions">
      <li><%= link_to "Edit Event", edit_event_path(@event),
        class: "edit" %></li>
      <li><%= link_to "Delete Event",
        event_path(@event),
        method: :delete,
        data: { confirm: "Are you sure you want to delete this event?" },
        class: "delete" %></li>
    </ul>
  <% end %>
</header>

<div class="event-details">
  <div class="row">
    <div class="col-md-3">
      <h6>Date: <%= @event.start_date.strftime("%B %e at %l:%M %p") %></h6>
    </div>
    <div class="col-md-9">
      <h6>Location: <%= @event.location %>, <%= @event.address %></h6>
    </div>
  </div>
</div>

<p><%= @event.description %></p>

<% if @event.tags.any? %>
  <div id="tags">
    <%= render @event.tags, event: @event %>
  </div>
<% end %>